NEXT_PUBLIC_API_URL= # API BASE URL

SERVER_PORT= # SERVER PORT
NODE_ENV= # Environment ("development | production | test")

LOG_LEVEL=info # Logging (error | warn | info | debug | verbose)
REFRESH_TOKEN_EXPIRES_DAYS=30  # Refresh token süresi (gün)

DATABASE_URL= # postgresql://user:pass@host:5432/dbname?schema=public